
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html{
    font-size: 16px;
}

header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/images/banner.png);   

    background-size: cover;
    background-position: center;
}


nav{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo{
    width: 140px;
    cursor: pointer;
}

#nav-items li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    /* background-color: rgb(255, 238, 0); */
}

#nav-items li a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}

#register-btn{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 0.9rem;
}

#seach-bar-container{
    /* background-color: aqua; */
    padding: 0 7%;
}

#seach-bar-container > h1{
    padding-top: 25.5%;
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 600;
}

#search-bar{
    width: 80%;
    background-color: #fff;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

#search-bar form{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
}

#search-bar form input{
    display: block;
    outline: none;
    border: 0;
    color: #000;
    padding-top: 5px;
    background: transparent;
}

#search-bar form label{
    font-weight: 600;
}

#search-bar form button{
    background-color: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border : 0;
    outline: none;
    cursor: pointer;
}

#search-bar form button img{
    width: 15px;
    height: 15px;
}

#location-input{
    flex: 1;
}