
:root {
    --red: #ff6b6b;
    --blue: #54a0ff;
    --green: #1dd1a1;
    --purple: #5f27cd;
    --modal-bg: #728499;
    --white: white;
}


html, body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

/* html{
    font-size: 20px;
} */

.toolbox-cont{
    background-color:  var(--modal-bg);
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.toolbox-priority-cont{
    background-color: lightblue;
    width: 15rem;
    height: 3rem;
    margin-left: 7rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    /* background-color: bisque; */
    height: 60%;
    width: 3rem;
    border-radius: 5px;
}

.red {
    background-color: var(--red);
}

.blue{
    background-color: var(--blue);
}

.green{
    background-color: var(--green);
}

.purple{
    background-color: var(--purple);
}

.action-btn-cont{
    background-color: lightblue;
    width: 10rem;
    height: 60%;
    display: flex;
    border-radius: 5px;
}

.add-btn,
.remove-btn{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large_icon{
    font-size: 1.8rem;
}

.main-cont{
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-around;
    /* if width is not enoug for some elements then they will be moved to the subsequent rows */
    flex-wrap:wrap; 
    row-gap: 2rem;
}

.ticket-cont{
    background-color: aliceblue;
    height: 10rem;
    width: 15rem;
    border: 1px solid gray;
    position: relative;
    border-radius: 10px;
}

.ticket-color{
    height: 10%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ticket-id{
    height: 10%;
    font-weight: 300;
    font-size: 0.8rem;
    padding-left: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ticket-area{
    height: 70%;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 600;
    overflow-y: auto;
}

.lock_icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.modal-cont{
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 25rem;
    width: 40rem;
    background-color: var(--modal-bg);
    display: flex;
    position: fixed;
    left: 25vw;
    top: 25vh;
    display: none;
    /* visibility:hidden */
}

.textarea-cont{
    width: 80%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.selected {
    border: 5px solid var(--white);
}

.color_modal{
    width: 55%;
    height: 15%;
    border-radius: 10px;
}


/* style for screen size width 400px to 600px */
@media screen and (max-width: 600px){
    .toolbox-cont{
        gap:2rem
    }

    .toolbox-priority-cont{
        width: 15rem;
        margin-left: 2rem;
    }

    .color{
        width: 3rem;
    }

    .action-btn-cont{
        width: 6rem;
    }

    .modal-cont{
        width: 70%;
        left:15vw;
    }
}


/* style for screen size width 400px max */
@media screen and (max-width: 400px){
    .toolbox-cont{
        gap: 1.5rem;
    }

    .toolbox-priority-cont{
        width: 10rem;
        margin-left: 2rem;
    }

    .color{
        width: 1.5rem;
    }

    .action-btn-cont{
        width: 6rem;
    }

    .modal-cont{
        width: 70%;
        left:15vw;
    }
}

/* style for screen size width 600px to 850px */
@media screen and (max-width: 850px) and (min-width: 601px){
    .modal-cont{
        width: 70%;
        left:15vw;
    }
}